@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

:root {
    --cor1: #333333;
    --cor2: #BFBFBF;
    --cor3: #737373;
    --cor4: #808080;
    --cor5: #595959;
    --bar-top-height: 75px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
}
header {
    background-color: white;
    height: var(--bar-top-height);
}
.container {
    background-image: url(imagem/capa.jpeg);
    background-size: 100% 100%;
    position: absolute;
    height: 20vh;
    width: 20vh;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
}
section#img1 {
    background-image: url('imagem/criminal.jpg');
    width: 100%;
    height: calc(100vh - var(--bar-top-height));
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.575);
}
@media (max-width: 900px) {
    section#img1 {
        background-position: 15% 0;
    }
}
.criminal h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px black;;
    font-weight: bold;
    font-family: "Bebas Neue";
    font-size: 2em;
    font-variant: small-caps;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.criminal > div > p {
    position: absolute;
    top: 350px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.404);
    text-shadow: 1px 1px 0px black;
}
.criminal > div > p {
    display: none;
}
.criminal > div:hover > p {
    display: block;
}
.etapa {
    height: 100vh;
}
.etapa h1 {
    color: var(--cor1);
    text-shadow: 1px 1px 0px black;;
    font-weight: bold;
    font-family: "Bebas Neue";
    font-variant: small-caps;
    font-size: 3em;
    text-align: center;
    padding: 10vh;
}
.etapa h2 {
    font-size: 2em;
    text-align: center;
    color: var(--cor1);
}
.etapa p {
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.container2 {
    margin: auto;
    width: 1080px;
}
.row {
    display: flex;
}
.row .col {
    width: calc(100%/4);
    padding: 10px;
}
@media (max-width: 1080px) {
    .container2 {
        width: 100%;
    }
}
@media (max-width: 1080px) {
    .row .col {
        width: calc(100%/3);
    }
}
@media (max-width: 720px) {
    .row .col {
        width: calc(100%/2);
    }
}
@media (max-width: 414px) {
    .row .col {
        width: calc(100% / 1);
    }
}